<% provide(:title, "Beers") %>
<h1>Beer List</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Brewery</th>
      <th>Beer type</th>
    </tr>
  </thead>

  <tbody>
    <% @beers.each do |beer| %>
      <tr>
        <td><%= link_to beer.name.split.map(&:capitalize)*' ', beer %></td>
        <td><%= link_to beer.brewery.name.split.map(&:capitalize)*' ', beer.brewery %></td>
        <td><%= beer.beer_type.split.map(&:capitalize)*' ' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @beers%>
