<% provide(:title, "Locations") %>
<h1>Where To Drink?</h1>

<table>
  <thead>
    <tr>
      <th>Number</th>
      <th>Bars</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @locations.each do |location| %>
      <tr>
        <td><%= location.id %></td>
        <td><%= link_to location.name.split.map(&:capitalize)*' ', location %></td>
      </tr>
    <% end %>
  </tbody>
</table>
