<% provide(:title, 'All users') %>
<h1>All users</h1>

<ul class="users">
  <div class="user">
    <%= render @users %>
  </div>
</ul>

<div class="paginate">
  <%= will_paginate %>
</div>

<div class="editProfile">
  <%= link_to "Edit Profile", edit_user_path(current_user) %>
</div>
