<% provide(:title, @brewery.name.split.map(&:capitalize)*' ') %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= @brewery.name.split.map(&:capitalize)*' ' %>'s Checked in Beers
      </h1>
    </section>
  </aside>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Beer type</th>
      </tr>
    </thead>
    <tbody>
      <% @beers.each do |beer| %>
        <tr>
          <td><%= link_to beer.name.split.map(&:capitalize)*' ', beer %></td>
          <td><%= beer.beer_type.split.map(&:capitalize)*' ' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
